<h1 class="title is-1">Spot the film</h1>

<div class="carousel columns is-centered">
<p>testing carousel</p>
</div>



<div class="container columns">
  <div class="genres column is-2">
    <h2>Genres</h2>
      <div id="genre-name" ng-repeat="genre in genres" ng-click="filterGenres(genre)">
        {{ genre.name }}
      </div>
      <button id="clearButton" ng-click="clearFilters()">Clear Filters</button>

    </div>
  <div class="columns is-multiline column is-8">
    <div ng-repeat="movie in filteredMovies" class="column is-2">
      <a ui-sref="movieShow({ id: movie._id })">
        <div class="card">
          <div class="card-header">
            {{ movie.name }}
          </div>
          <div class="card-image">
            <figure class="image">
              <img ng-src="{{ movie.image }}" alt="{{ movie.name }}">
            </figure>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="upcoming-releases column is-2">
<p>testing releases</p>
    </div>
  </div>
