<!-- <h1 class="title is-1">Spot the film</h1> -->
<section id="section-container" class="">
  <div id="slider">
    <figure class="image-container">
      <img ui-sref="movieShow({ id: movie._id })" ng-repeat="movie in allMovies | orderBy:'averageRating'" ng-src="{{movie.image}}" alt="{{ movie.name}}">
    </figure>
  </div>
  <hr>
</section>

<div class="columns">
  <div class="genres column is-2">
    <h1 id="spotTheFilm">SPOT THE FILM</h1>
    <form id="searchbar" ng-submit="handleFilterSubmit()">
      <input type="text" class="input" ng-model="searchTerm">
      <button class="button">🔎</button>
      <hr>
    </form>
    <button id= "clearButton" ng-click="clearFilters()">Clear Filters</button>
    <div id="genreFilter">
      <h2><strong>Genres</strong></h2>
    </div>
    <div id="genre-name" ng-repeat="genre in genres | orderBy:'name'" ng-click="filterGenres(genre)">
      {{ genre.name }}
    </div>
  </div>


  <div class="columns is-multiline column is-8">
    <h1 class="index-title title is-2">{{ title }} Films:</h1>
    <div ng-repeat="movie in filteredMovies | orderBy:'averageRating'" class="column is-2">
      <a ui-sref="movieShow({ id: movie._id })">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-image">
            <figure class="image">
              <img ng-src="{{ movie.image }}" alt="{{ movie.name }}">
            </figure>
          </div>
        </div>
        <div id="movie-name">
          {{ movie.name }}
        </div>
      </a>
    </div>
  </div>
  <div class="upcoming-releases column is-2">
    <p>Upcoming Releases</p>
    <div ng-repeat="release in releases">
       {{ release.title }}
       {{ release.release_date }}
    </div>
  </div>
</div>
