<div class="container">
  <form ng-submit="handleSubmit()">
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input class="input" ng-model="movie.name" placeholder="Title">
      </div>
    </div>
    <div class="field">
      <label class="label">Year Released</label>
      <div class="control">
        <input class="input" ng-model="movie.yearReleased" placeholder="Year Released">
      </div>
    </div>
    <div class="field">
      <label class="label">Runtime</label>
      <div class="control">
        <input class="input" ng-model="movie.movieLength" placeholder="Runtime">
      </div>
    </div>
    <div class="field">
      <label class="label">Poster</label>
      <div class="control">
        <input class="input" ng-model="movie.image" placeholder="Image URL">
      </div>
    </div>
    <div class="field">
      <label class="label">The writers (separated with ,)</label>
      <div class="control">
        <input class="input" ng-model="movie.writers" placeholder="Writers">
      </div>
    </div>
    <div class="field">
      <label class="label">The Director</label>
      <div class="control">
        <input class="input" ng-model="movie.director" placeholder="Director">
      </div>
    </div>
    <div class="field">
      <label class="label">The actors (separated with ,)</label>
      <div class="control">
        <input class="input" ng-model="movie.actors" placeholder="Actors">
      </div>
    </div>
    <div class="field">
      <label class="label">Synopsis</label>
      <div class="control">
        <input class="input" ng-model="movie.synopsis" placeholder="Synopsis">
      </div>
    </div>
    <div class="field">
      <label class="label">Filming locations (separated with ,)</label>
      <div class="control">
        <input class="input" ng-model="movie.locationFilmed" placeholder="Locations Filmed">
      </div>
    </div>
    <div class="field">
      <label class="label"> Some genres (separated with ,)</label>
      <div class="control">
        <input class="input" ng-model="movie.genres" placeholder="Genres">
      </div>
    </div>
    <button class="button is-rounded">ADD</button>
  </form>
</div>
