<h1 class="title is-1">{{ movie.name }}</h1>
<h2 class="subtitle is-2"> {{ movie.yearReleased }}</h2>
<p> The film length is {{ movie.movieLength }} </p>
<img ng-src="{{ movie.image }}" alt="{{ movie.name }}">
<p ng-repeat="writer in movie.writers"> The writers are {{ writer }}</p>
<p>The director is {{ movie.director }}</p>
<p ng-repeat=" actor in movie.actors"> The actors are {{ actor }}</p>

<p>{{ movie.name }} {{ movie.synopsis }}</p>
<button class="button is-rounded" ui-sref="movieEdit({ id: movie._id})">EDIT</button>
