<h1 ng-if="isAuthenticated()" class="home-welcome">WELCOME {{username.toUpperCase()}}</h1>
<h1 ng-if="!isAuthenticated()" class="home-welcome">WELCOME TO FILM SPOTTING</h1>
<div class="columns" id="home-content">
  <div class="column is-1"></div>
  <div class="column is-5">
    <h2 class="subtitle is-1">About Film Spotting:</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="column is-5">
    screenshots or photos here??
  </div>
  <div class="column is-1"></div>
</div>
