<div class="container">
  <div class="slapper">
    <div class="diag-black"></div>
    <div class="diag-black"></div>
    <div class="diag-black"></div>
    <div class="diag-black last"></div>
  </div>
  <div class="clapper">
    <div class="slapper flat">
      <div class="reverse diag-black"></div>
      <div class="reverse diag-black"></div>
      <div class="reverse diag-black"></div>
      <div class="reverse diag-black last"></div>
    </div>
    <div style="color:white;" class="lines">HELLOOOOOOOO</div>
    <div class="lines"></div>
    <div class="lines no-color"></div>
  </div>
</div>
