<div ng-if="user.coverPhoto" class="profile-cover-photo" style="background-image:url({{ user.coverPhoto}});"></div>
<div class="columns">
  <div class="frame">
    <div class="box column">
      <div class="main">
        <div class="profile-image">
          <p class ="profile-name"><strong>{{ user.username }}</strong></p>
          <img src="{{ user.profilePicture}}" alt=" {{ user.name }}">
        </div>
        <p class="bio"></p>
        <strong>Bio:</strong>
        <p>{{ user.bio }}</p>
        <button ng-if="user._id !== userId" ng-click="follow()">{{ buttonName }}</button>
        <button ng-if="user._id === userId" ui-sref="editProfile({ id: user._id})">Edit Profile</button>
      </div>
      <div class="posts"> 523 <p class="small">Films Spotted</p>
      </div>
      <div class="posts"> 523 <p class="small">Films Reviewed</p>
      </div>
      <div class="likes"> 1387 <p class="small">Likes</p>
      </div>
      <div ng-click="follow()" class="followers"> {{ user.followedBy.length }} <p class="small">Followers</p>
      </div>
    </div>
  </div>
  <div class="profile-review-box media">
    <figure class="media-left" >
      <p class="image is-64x64">
        <img ng-src=" {{ user.profilePicture }}">
      </p>
    </figure>
    <div class="media-content"ng-repeat="movie in user.moviesReviewed">
      <div class="content" ng-repeat="review in movie.reviews">
        <p><strong> {{ review.title }} reviewed by {{ user.username }}</strong>
          <span>{{ review.content }}</span>
        </p>
      </div>
      <hr></hr>
      <nav class="level is-mobile">
        <div class="level-left">
        </div>
      </nav>
    </div>
  </div>
</div>
