<div ng-if="user.coverPhoto" class="profile-cover-photo" style="background-image:url({{ user.coverPhoto}});"></div>
<div class="columns">
  <div class="frame">
    <div class="box column">
      <div class="main">
        <div class="image">
          <p class ="profile-name"><strong>{{ user.username }}</strong></p>
          <img src="{{ user.profilePicture}}" alt=" {{ user.name }}">
        </div>
        <p class="bio"></p>
        <strong>Bio:</strong>
        <p>{{ user.bio }}</p>
          <button ng-click="follow()">Follow</button>
      </div>
      <div class="posts"> 523 <p class="small">Posts</p>
      </div>
      <div class="posts"> 523 <p class="small">Posts</p>
      </div>
      <div class="likes"> 1387 <p class="small">Likes</p>
      </div>
      <div ng-click="follow()" class="followers"> {{ user.followedBy.length }} <p class="small">Followers</p>
      </div>
    </div>
  </div>
  <div class="profile-review-box media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img ng-src=" {{ user.profilePicture }}">
      </p>
    </figure>
    <div class="media-content">
  <div class="content">
    <p>
      <strong>{{review.title}}</strong>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
    </p>
  </div>
  <hr></hr>
  <nav class="level is-mobile">
      <div class="level-left">
      </div>
    </nav>
  </div>
  </div>
</div>
