.html {
  height: 100%;
}

.navbar{
  background-color: dimgrey;
  .navbar-item.has-dropdown.is-hoverable .navbar-link{
    background-color: dimgrey;
  }
  .navbar-item.has-dropdown.is-hoverable .navbar-link:hover i{
    transform: rotate(180deg);
  }
  .navbar-link{
    width: 10vw;
    i{
      margin-left: 5vw;
      font-size: 50px;
      color: white;
      transition: transform 0.5s;
    }
    .navbar-dropdown{
      text-align: center;
      background-color: dimgrey;
      a{
        width: 10vw;
        color: white;
      }
      div{
        border-top: 1px white solid;
        border-bottom: 1px white solid;
        padding: 1vh;
      }
      div:hover{
        background-color: gray;
      }
    }
  }
}

// footer{
//   width: 100vw;
//   position: relative;
//   grid-row-start: -1;
//   grid-row-end: 3;
//   .socials{
//     position: absolute;
//     right: 3vw;
//     top: 5vh;
//     .social{
//       margin: 0.25vh;
//       font-size: 30px;
//       color: black;
//     }
//   }
// }


// movie show page styling
.review-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 65vh;
  right: 1vw;
  width: 58vw;
  text-align: center;
  margin-bottom: 2vh;
  h1{
    padding: 0;
    margin: 0;
  }
  .spotted-by{
    margin-left: 1vh;
    cursor: pointer;
  }
  .reviews{
    border: 1px solid;
    width: 55vw;
    .review{
      border: 1px solid;
      display: flex;
      flex-wrap: wrap;
      padding-top: 1vh;
      padding-bottom: 1vh;
      h4{
        width: 67%;
        margin-left: 15.5%;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
      }
      p{
        width: 9vw;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
      }
      figure{
        margin-left: 1vh;
        margin-right: 1vh;
        margin-bottom: 3vh;
        cursor: pointer;
        img{
          max-height: 12vh;
        }
        h5{
          text-align: center;
        }
      }
      span{
        margin-bottom: 1vh;
        text-align: center;
        width: 70%;
      }
      .like-wrapper{
        margin-top: 1vh;
        width: 15%;
        i{
          width: 100%;
          font-size: 70px;
          text-align: center;
        }
        span{
          font-size: 20px;
          font-weight: bold;
          margin: 0;
          text-align: center;
        }
      }
      .button-wrapper{
        border-top: 1px solid;
        width: 100%;
        margin-bottom: 1vh;
        padding-top: 2vh;
      }
    }
    .review-form{
      border: 1px solid;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      form{
        width: 100%;
        .title-input{
          width: 100%;
          font-size: 20px;
        }
        textarea{
          resize: none;
          width: 100%;
          height: 20vh;
          margin-top: 1vh;
          font-size: 20px;
        }
        .rating-input{
          width: 3vw;
          height: 3vw;
          font-size: 25px;
          text-align: center;
          margin-right: 2vw;
        }
        button{
          height: 3vw;
        }
      }
    }
  }
}

.info-box{
  background-color: white;
  width: 30vw;
  border: 1px solid;
  position: absolute;
  left: 10vw;
  top: 20vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
  .stats{
    border-top: 1px solid;
    border-bottom: 0;
    margin-top: 1vh;
  }
  img{
    width: 20vw;
    margin-left: 5vw;
  }
  span{
    margin-left: 5px;
  }
  p{
    border-bottom: 1px solid;
    padding: 3px;
    width: 100%;
  }
  div{
    border-bottom: 1px solid;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
.cover-photo{
  width: 100vw;
  position: absolute;
  right: 0;
  top: 10vh;
  height: 55vh;
  z-index: -1;
  background-image: url(https://wallpapersin4k.net/wp-content/uploads/2017/02/Mousehunt-Movie-Wallpapers-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// home page styling
.home-welcome{
  width: 100vw;
  text-align: center;
  font-size: 90px;
  margin-bottom: 10vh;
}

#home-content{
  h2{
    width: 100%;
    text-align: center;
  }
}
//profile page styling
.frame{
    margin-top: -300px;
    margin-left: 100px;
    background: linear-gradient(to right, #000000, #A9A9A9);
    font-family: sans-serif;
    box-shadow: 1px 2px 10px grey;
    //center
    top: 50%;
    left: 50%;
    /* center its children */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 3%;
}
.profile-cover-photo{
  width: 100vw;
  right: 0;
  top: 10vh;
  height: 55vh;
  z-index: -1;
  background-image: url(https://wallpapersin4k.net/wp-content/uploads/2017/02/Mousehunt-Movie-Wallpapers-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.box{
    width: 450px;
    height: 450px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 6px;
    border-radius: 3%;
}
.profile-review-box {
  margin-left: 20px;
  margin-top: 30px;
}
.main{
    background: white;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.image{
  position: relative;
  width: 200px;
  height: 200px; 
}
.bio{
       font-weight: 20;
       font-size: 12px;
       position: relative;
       top: -28px;
       font-size: 14px;
   }

   .btn{
     width: 100px;
     height: 22px;
     border: black solid;
     border-radius: 40px;
     margin: 3.4px;
     text-align: center;
     font-size: 12px;
   }
       .btn p{
           position: relative;
           top: -6px;
           font-weight: bold;
           margin-top: 6px;

       }

   .posts, .likes, .followers{
       background: #A9A9A9;
       color: #000000;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       font-size: 20px;
       border-radius: 3%;
   }
.profile-name {
  justify-content: center;
}

   .small {
     font-size: 12px;
     font-weight: lighter;
     margin-top: -5px;
   }

//index-page styling
#genre-name {
  cursor: pointer;
}

#clearButton {
  cursor: pointer;
}

//carousel animation

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

div#slider {
  overflow: hidden;
  figure img {
    width: 3%;
    float: left;
  }
  figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 15s slidy infinite;
  }
}
.image-container img {
  height: 250px;
  width: 40px;
}
 #section-container {
   padding: 0;
   margin: 0;
 }
 #searchbar {
   display: flex;
 }
 #movie-name {
   text-decoration: none;
   color: black;
   text-align: center;
 }
 #genreFilter {
   display: flex;
 }
