.html {
  height: 100%;
}

.navbar{
  background-color: dimgrey;
  .navbar-item.has-dropdown.is-hoverable .navbar-link{
    background-color: dimgrey;
  }
  .navbar-item.has-dropdown.is-hoverable .navbar-link:hover i{
    transform: rotate(180deg);
  }
  .navbar-link{
    width: 10vw;
    i{
      margin-left: 5vw;
      font-size: 50px;
      color: white;
      transition: transform 0.5s;
    }
    .navbar-dropdown{
      text-align: center;
      background-color: dimgrey;
      a{
        width: 10vw;
        color: white;
      }
      div{
        border-top: 1px white solid;
        border-bottom: 1px white solid;
        padding: 1vh;
      }
      div:hover{
        background-color: gray;
      }
    }
  }
}

// body{
//   min-height: 100%;
//   display: grid;
//    grid-template-rows: 1fr auto;
//     main {
//     height: 80vh;
//   }
// }
//
// footer{
//   width: 100vw;
//   position: relative;
//   grid-row-start: -1;
//   grid-row-end: 3;
//   .socials{
//     position: absolute;
//     right: 3vw;
//     top: 5vh;
//     .social{
//       margin: 0.25vh;
//       font-size: 30px;
//       color: black;
//     }
//   }
// }


// movie show page styling
.info-box{
  width: 30vw;
  border: 1px solid;
  position: absolute;
  left: 10vw;
  top: 20vh;
  display: flex;
  flex-direction: column;
  img{
    width: 20vw;
    margin-left: 5vw;
  }
  span{
    margin-left: 5px;
  }
  p{
    border-bottom: 1px solid;
  }
  div{
    border-bottom: 1px solid;
  }
}

.reviews{
  position: absolute;
  right: 0;
  top: 20vh;
}
// home page styling
.home-welcome{
  width: 100vw;
  text-align: center;
  font-size: 90px;
  margin-bottom: 10vh;
}

#home-content{
  h2{
    width: 100%;
    text-align: center;
  }
}
