.html {
  height: 100%;
}


.navbar{
  background-color: dimgrey;
  .navbar-link{
    width: 10vw;
    .navbar-dropdown{
      text-align: center;
      background-color: dimgrey;
      div{
        border-top: 1px white solid;
        border-bottom: 1px white solid;
        padding: 1vh;
        a{
          width: 10vw;
          color: white;
        }
      }
      div:hover{
        background-color: gray;
      }
    }
  }
}

body{
  min-height: 100%;
  display: grid;
   grid-template-rows: 1fr auto;
    main {
    height: 80vh;
  }
}

footer{
  width: 100vw;
  position: relative;
  grid-row-start: -1;
  grid-row-end: 3;
  .socials{
    position: absolute;
    right: 3vw;
    top: 5vh;
    .social{
      margin: 0.25vh;
      font-size: 30px;
      color: black;
    }
  }
}
